@model NopCommerceApp.Models.LoginViewModel
@{
    ViewBag.Title = "Login - XPay Life Bank";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
    table {
    border: 2px solid blue; 
    height: 300px; 
    width: 50%; 
    }
        #header h1 {
            color: red;
            font-weight: bold; 
        }
    </style>
</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <table border="1" cellpadding="20" cellspacing="0" align="center">
        <tr>
            <td>
                <center>
                    <div id="container">
                        <div id="header">
                            <h1>XPay Life Bank</h1>
                        </div>
                        <div id="welcome">
                            <h2>Welcome</h2>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
                        {
                            <div class="form-group" style="margin-bottom: 10px;">
                                <label for="Email">UserName:</label>
                                @Html.TextBoxFor(model => model.Email, new { type = "email", id = "Email", name = "Email" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group" style="margin-bottom: 10px;">
                                <label for="Password" style="margin-left: 10px;">Password:</label>
                                @Html.PasswordFor(model => model.Password, new { id = "Password", name = "Password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <button type="submit">Login</button>
                                <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
                                <button type="button" onclick="location.href='@Url.Action("ForgotPassword", "Account")'">Forgot Password?</button>
                            </div>
                        }
                    </div>
                </center>
            </td>
        </tr>
    </table>
</body>
</html>
